body {
    text-align: center;
    background-color: wheat;
}

ol{
    display: inline-block;
    text-align: left;
}

h1,h3{
    text-decoration: underline;
    font-weight: bold;
    color: black;
}